/*
$breakponit arguement choices:
-- phone
-- tab-port
-- tab-land
-- big-desktop

Order: Base + typography > general layout > + grid > page layout > components 
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@-webkit-keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #ca8787;
  color: #fff;
}

::selection {
  background-color: #ca8787;
  color: #fff;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  color: transparent;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1ACAC), to(#a87676));
  background-image: linear-gradient(to right bottom, #E1ACAC, #a87676);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.heading-secondary:hover {
  -webkit-transform: translateY(-1rem) scale(1.1);
      -ms-transform: translateY(-1rem) scale(1.1);
          transform: translateY(-1rem) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2rem;
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-b {
  margin-top: 8rem !important;
}

.u-margin-top-h {
  margin-top: 10rem !important;
}

.u-margin-bottom-b {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-b {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-m {
  margin-bottom: 5rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-m {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
      -ms-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btnfocus, .btn:active {
  outline: none;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.3);
}
.btn--white {
  background-color: #fff;
  color: #333;
}
.btn--white::after {
  background-color: #fff;
}
.btn--primary {
  background-color: #ca8787;
  color: #fff;
}
.btn--primary::after {
  background-color: #ca8787;
}
.btn--animated {
  -webkit-animation: moveInUp 1s ease-in-out 0.3s;
          animation: moveInUp 1s ease-in-out 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-text:link, .btn-text:visited {
  color: #ca8787;
  text-decoration: none;
  padding: 3px;
  font-size: 1.6rem;
  border-bottom: 1px solid #ca8787;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
}
.btn-text:hover {
  background-color: #ca8787;
  color: #fff;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn-text:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  position: absolute;
  border-radius: 2px;
  z-index: 10;
  -webkit-box-shadow: 1rem 2rem 3rem rgba(168, 118, 118, 0.4);
          box-shadow: 1rem 2rem 3rem rgba(168, 118, 118, 0.4);
  outline-offset: 2rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.333%;
    -webkit-box-shadow: 1rem 2rem 2rem rgba(168, 118, 118, 0.2);
            box-shadow: 1rem 2rem 2rem rgba(168, 118, 118, 0.2);
  }
}
.composition__photo--1 {
  left: 0;
  top: 1rem;
}
@media (max-width: 56.25em) {
  .composition__photo--1 {
    top: 0;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.composition__photo--2 {
  right: 0;
  top: 6rem;
}
@media (max-width: 56.25em) {
  .composition__photo--2 {
    top: -1rem;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo--3 {
  left: 15%;
  top: 15rem;
}
@media (max-width: 56.25em) {
  .composition__photo--3 {
    top: 1rem;
    left: 0;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.composition__photo:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 101;
  outline: 0.5rem solid #ca8787;
  -webkit-box-shadow: 2rem 4rem 5rem rgba(168, 118, 118, 0.4);
          box-shadow: 2rem 4rem 5rem rgba(168, 118, 118, 0.4);
  border-radius: 0;
}
.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  border-radius: 3px;
  padding: 2.5rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#E1ACAC), to(#a87676));
  background-image: linear-gradient(to right, #E1ACAC, #a87676);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  -webkit-transform: translateY(-2rem) scale(1.05);
      -ms-transform: translateY(-2rem) scale(1.05);
          transform: translateY(-2rem) scale(1.05);
  -webkit-box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.25);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  position: absolute;
  height: 52rem;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card__side--back--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#77b0aa), to(#003c43));
  background-image: linear-gradient(to right bottom, #77b0aa, #003c43);
}
.card__side--back--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1ACAC), to(#a87676));
  background-image: linear-gradient(to right bottom, #E1ACAC, #a87676);
}
.card__side--back--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#86a789), to(#4f6f52));
  background-image: linear-gradient(to right bottom, #86a789, #4f6f52);
}
.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card__picture {
  height: 22rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#77b0aa), to(#003c43)), url(../img/img-2-small.jpg);
  background-image: linear-gradient(to right bottom, #77b0aa, #003c43), url(../img/img-2-small.jpg);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#77b0aa), to(#003c43)), url(../img/img-2.jpg);
    background-image: linear-gradient(to right bottom, #77b0aa, #003c43), url(../img/img-2.jpg);
  }
}
.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1ACAC), to(#a87676)), url(../img/img-3-small.jpg);
  background-image: linear-gradient(to right bottom, #E1ACAC, #a87676), url(../img/img-3-small.jpg);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#E1ACAC), to(#a87676)), url(../img/img-3.jpg);
    background-image: linear-gradient(to right bottom, #E1ACAC, #a87676), url(../img/img-3.jpg);
  }
}
.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#86a789), to(#4f6f52)), url(../img/img-4-small.jpg);
  background-image: linear-gradient(to right bottom, #86a789, #4f6f52), url(../img/img-4-small.jpg);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .card__picture--3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#86a789), to(#4f6f52)), url(../img/img-4.jpg);
    background-image: linear-gradient(to right bottom, #86a789, #4f6f52), url(../img/img-4.jpg);
  }
}
.card__heading {
  font-size: 2.4rem;
  font-weight: 300;
  position: absolute;
  top: 15rem;
  right: 1rem;
  padding: 1rem;
  color: #fff;
  width: 75%;
  text-align: right;
}
.card__heading-span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.5rem 1.5rem;
  border-radius: 3px;
}
.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(119, 176, 170, 0.85)), to(rgba(0, 60, 67, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(119, 176, 170, 0.85), rgba(0, 60, 67, 0.85));
}
.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(225, 172, 172, 0.85)), to(rgba(168, 118, 118, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(225, 172, 172, 0.85), rgba(168, 118, 118, 0.85));
}
.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(134, 167, 137, 0.85)), to(rgba(79, 111, 82, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(134, 167, 137, 0.85), rgba(79, 111, 82, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #fff;
  margin-bottom: 8rem;
}
.card__price-only {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4rem;
  padding-left: 6rem;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg);
  font-size: 1.6rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.story:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
  }
}
@media (max-width: 37.5em) {
  .story {
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}
.story__shape {
  float: left;
  width: 15rem;
  height: 15rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-2rem) skewX(12deg);
      -ms-transform: translateX(-2rem) skewX(12deg);
          transform: translateX(-2rem) skewX(12deg);
  position: relative;
}
@media (max-width: 37.5em) {
  .story__shape {
    -webkit-transform: translateX(-2rem) skewX(0deg);
        -ms-transform: translateX(-2rem) skewX(0deg);
            transform: translateX(-2rem) skewX(0deg);
  }
}
.story__img {
  height: 100%;
  -webkit-transform: translateX(-3rem) scale(1.3);
      -ms-transform: translateX(-3rem) scale(1.3);
          transform: translateX(-3rem) scale(1.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
      -ms-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.story__text {
  -webkit-transform: skewX(12deg);
      -ms-transform: skewX(12deg);
          transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story__text {
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}
.story:hover .story__img {
  -webkit-filter: blur(0.5rem) brightness(80%);
          filter: blur(0.5rem) brightness(80%);
  -webkit-transform: translateX(-3rem) scale(1);
      -ms-transform: translateX(-3rem) scale(1);
          transform: translateX(-3rem) scale(1);
}
.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.15;
  height: 100%;
  width: 100%;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 2px;
  background-color: rgba(225, 172, 172, 0.5);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #86a789;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #a87676;
}
.form__input::-webkit-input-placeholder {
  color: #777;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-4rem);
      transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #ca8787;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ca8787;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (-webkit-backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
      -ms-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  width: 85%;
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
}
@media (min-width: 112.5em) {
  .popup__content {
    width: 75%;
  }
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  text-decoration: none;
  color: #999;
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup__close:hover {
  color: #ca8787;
}
.popup__left {
  display: table-cell;
  width: 44%;
}
.popup__right {
  display: table-cell;
  width: 56%;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media (max-width: 75em) {
  .popup__right {
    padding: 1.5rem 5rem;
  }
}
@media (max-width: 37.5em) {
  .popup__right {
    padding: 1.5rem 2rem;
  }
}
.popup__img {
  width: 100%;
  display: block;
}
.popup__text {
  font-size: 1.3rem;
  margin-bottom: 4rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 2px solid #eee;
     -moz-column-rule: 2px solid #eee;
          column-rule: 2px solid #eee;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
@media (max-width: 75em) {
  .popup__content {
    width: 75%;
    text-align: center;
  }
  .popup__close:link, .popup__close:visited {
    color: #fff;
  }
  .popup__left {
    width: 100%;
    display: inline-block;
  }
  .popup__right {
    width: 100%;
    display: inline-block;
  }
  .popup__img {
    float: left;
    display: block;
    width: 50%;
  }
  .popup__text {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    margin-bottom: 2rem;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.footer {
  background-color: #545454;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #999;
}
@media (max-width: 75em) {
  .footer {
    padding: 5rem 3rem;
  }
}
@media (max-width: 56.25em) {
  .footer {
    padding: 3rem 0 5rem 0;
  }
}
.footer__logo-box {
  text-align: center;
}
.footer__logo {
  width: 25rem;
  height: auto;
}
@media (max-width: 37.5em) {
  .footer__logo {
    margin-bottom: 2rem;
  }
}
.footer__navigation {
  border-top: 1px solid #ca8787;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #eee;
  background-color: #545454;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #ca8787;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #ca8787;
  padding-top: 2rem;
  float: right;
  width: 80%;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 12rem) / 3);
}
.row .col-2-of-3 {
  width: calc((100% - 12rem) / 3 * 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 18rem) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 18rem) / 4 * 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc((100% - 18rem) / 4 * 3 + 6rem * 2);
}

.header {
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(225, 172, 172, 0.75)), to(rgba(168, 118, 118, 0.75))), url(../img/hero-small.jpg);
  background-image: linear-gradient(to right bottom, rgba(225, 172, 172, 0.75), rgba(168, 118, 118, 0.75)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 95.85%, 2% 95.74%, 4% 95.43%, 6% 94.93%, 8% 94.24%, 10% 93.41%, 12% 92.45%, 14% 91.4%, 16% 90.29%, 18% 89.18%, 20% 88.09%, 22% 87.06%, 24% 86.14%, 26% 85.35%, 28% 84.73%, 30% 84.28%, 32% 84.04%, 34% 84%, 36% 84.18%, 38% 84.56%, 40% 85.12%, 42% 85.86%, 44% 86.74%, 46% 87.74%, 48% 88.81%, 50% 89.92%, 52% 91.03%, 54% 92.1%, 56% 93.1%, 58% 93.98%, 60% 94.72%, 62% 95.29%, 64% 95.66%, 66% 95.84%, 68% 95.8%, 70% 95.56%, 72% 95.12%, 74% 94.49%, 76% 93.7%, 78% 92.78%, 80% 91.75%, 82% 90.66%, 84% 89.55%, 86% 88.45%, 88% 87.4%, 90% 86.44%, 92% 85.6%, 94% 84.92%, 96% 84.41%, 98% 84.1%, 100% 83.99%);
            clip-path: polygon(100% 0%, 0% 0%, 0% 95.85%, 2% 95.74%, 4% 95.43%, 6% 94.93%, 8% 94.24%, 10% 93.41%, 12% 92.45%, 14% 91.4%, 16% 90.29%, 18% 89.18%, 20% 88.09%, 22% 87.06%, 24% 86.14%, 26% 85.35%, 28% 84.73%, 30% 84.28%, 32% 84.04%, 34% 84%, 36% 84.18%, 38% 84.56%, 40% 85.12%, 42% 85.86%, 44% 86.74%, 46% 87.74%, 48% 88.81%, 50% 89.92%, 52% 91.03%, 54% 92.1%, 56% 93.1%, 58% 93.98%, 60% 94.72%, 62% 95.29%, 64% 95.66%, 66% 95.84%, 68% 95.8%, 70% 95.56%, 72% 95.12%, 74% 94.49%, 76% 93.7%, 78% 92.78%, 80% 91.75%, 82% 90.66%, 84% 89.55%, 86% 88.45%, 88% 87.4%, 90% 86.44%, 92% 85.6%, 94% 84.92%, 96% 84.41%, 98% 84.1%, 100% 83.99%);
    height: 95vh;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(225, 172, 172, 0.75)), to(rgba(168, 118, 118, 0.75))), url(../img/hero.jpg);
    background-image: linear-gradient(to right bottom, rgba(225, 172, 172, 0.75), rgba(168, 118, 118, 0.75)), url(../img/hero.jpg);
  }
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 84.23%, 3.33% 84.15%, 6.67% 83.92%, 10% 83.55%, 13.33% 83.07%, 16.67% 82.5%, 20% 81.89%, 23.33% 81.26%, 26.67% 80.67%, 30% 80.14%, 33.33% 79.71%, 36.67% 79.41%, 40% 79.25%, 43.33% 79.25%, 46.67% 79.41%, 50% 79.71%, 53.33% 80.14%, 56.67% 80.67%, 60% 81.26%, 63.33% 81.89%, 66.67% 82.5%, 70% 83.07%, 73.33% 83.55%, 76.67% 83.92%, 80% 84.15%, 83.33% 84.23%, 86.67% 84.15%, 90% 83.92%, 93.33% 83.55%, 96.67% 83.07%, 100% 82.5%);
            clip-path: polygon(100% 0%, 0% 0%, 0% 84.23%, 3.33% 84.15%, 6.67% 83.92%, 10% 83.55%, 13.33% 83.07%, 16.67% 82.5%, 20% 81.89%, 23.33% 81.26%, 26.67% 80.67%, 30% 80.14%, 33.33% 79.71%, 36.67% 79.41%, 40% 79.25%, 43.33% 79.25%, 46.67% 79.41%, 50% 79.71%, 53.33% 80.14%, 56.67% 80.67%, 60% 81.26%, 63.33% 81.89%, 66.67% 82.5%, 70% 83.07%, 73.33% 83.55%, 76.67% 83.92%, 80% 84.15%, 83.33% 84.23%, 86.67% 84.15%, 90% 83.92%, 93.33% 83.55%, 96.67% 83.07%, 100% 82.5%);
  }
}
.header__logo-box {
  position: absolute;
  left: 3rem;
}
@media (max-width: 37.5em) {
  .header__logo-box {
    left: 0.5rem;
  }
}
.header__logo {
  height: 20rem;
}
@media (max-width: 37.5em) {
  .header__logo {
    height: 15rem;
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  z-index: 2000;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  position: fixed;
  z-index: 1000;
  background-image: radial-gradient(#E1ACAC, #a87676);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -50rem;
  z-index: 1500;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ca8787;
  -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(75);
      -ms-transform: scale(75);
          transform: scale(75);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  right: 0rem;
  opacity: 1;
}
.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::after {
  top: -0.8rem;
}
.navigation__icon::before {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::after {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section-about {
  background-color: #eee;
  padding: 20rem 0;
  margin-top: -15rem;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 15rem 0;
  }
}
@media (max-width: 37.5em) {
  .section-about {
    margin-top: -20rem;
    padding: 15rem 0;
  }
}

.section-features {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(225, 172, 172, 0.75)), to(rgba(168, 118, 118, 0.75))), url(../img/img-1-small.jpg);
  background-image: linear-gradient(to right, rgba(225, 172, 172, 0.75), rgba(168, 118, 118, 0.75)), url(../img/img-1-small.jpg);
  background-size: cover;
  padding: 20rem 0;
  margin-top: -8rem;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
}
.section-features > * {
  -webkit-transform: skewY(5deg);
      -ms-transform: skewY(5deg);
          transform: skewY(5deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .section-features {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(225, 172, 172, 0.75)), to(rgba(168, 118, 118, 0.75))), url(../img/img-1.jpg);
    background-image: linear-gradient(to right, rgba(225, 172, 172, 0.75), rgba(168, 118, 118, 0.75)), url(../img/img-1.jpg);
  }
}

.section-packs {
  background-color: #f7f7f7;
  padding: 20rem 0 15rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-packs {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-newsletter {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#E1ACAC), to(#a87676));
  background-image: linear-gradient(to right bottom, #E1ACAC, #a87676);
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-newsletter {
    padding: 10rem 0;
  }
}

.newsletter {
  background-image: linear-gradient(105deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 50%, transparent 50%), url(../img/img-5.jpg);
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 75em) {
  .newsletter {
    background-image: linear-gradient(105deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 65%, transparent 65%), url(../img/img-5.jpg);
    background-size: cover;
    border-radius: 0px;
  }
}
@media (max-width: 56.25em) {
  .newsletter {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(247, 247, 247, 0.9)), to(rgba(247, 247, 247, 0.9))), url(../img/img-5.jpg);
    background-image: linear-gradient(to right, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 100%), url(../img/img-5.jpg);
  }
}
.newsletter__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .newsletter__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .newsletter__form {
    width: 100%;
  }
}

@font-face {
  font-family: "linea-ecommerce-10";
  src: url("../fonts/linea-ecommerce-10.eot");
  src: url("../fonts/linea-ecommerce-10.eot?#iefix") format("embedded-opentype"), url("../fonts/linea-ecommerce-10.woff") format("woff"), url("../fonts/linea-ecommerce-10.ttf") format("truetype"), url("../fonts/linea-ecommerce-10.svg#linea-ecommerce-10") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "linea-ecommerce-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "linea-ecommerce-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ecommerce-bag:before {
  content: "a";
}

.icon-ecommerce-bag-check:before {
  content: "b";
}

.icon-ecommerce-bag-cloud:before {
  content: "c";
}

.icon-ecommerce-bag-download:before {
  content: "d";
}

.icon-ecommerce-bag-minus:before {
  content: "e";
}

.icon-ecommerce-bag-plus:before {
  content: "f";
}

.icon-ecommerce-bag-refresh:before {
  content: "g";
}

.icon-ecommerce-bag-remove:before {
  content: "h";
}

.icon-ecommerce-bag-search:before {
  content: "i";
}

.icon-ecommerce-bag-upload:before {
  content: "j";
}

.icon-ecommerce-banknote:before {
  content: "k";
}

.icon-ecommerce-banknotes:before {
  content: "l";
}

.icon-ecommerce-basket:before {
  content: "m";
}

.icon-ecommerce-basket-check:before {
  content: "n";
}

.icon-ecommerce-basket-cloud:before {
  content: "o";
}

.icon-ecommerce-basket-download:before {
  content: "p";
}

.icon-ecommerce-basket-minus:before {
  content: "q";
}

.icon-ecommerce-basket-plus:before {
  content: "r";
}

.icon-ecommerce-basket-refresh:before {
  content: "s";
}

.icon-ecommerce-basket-remove:before {
  content: "t";
}

.icon-ecommerce-basket-search:before {
  content: "u";
}

.icon-ecommerce-basket-upload:before {
  content: "v";
}

.icon-ecommerce-bath:before {
  content: "w";
}

.icon-ecommerce-cart:before {
  content: "x";
}

.icon-ecommerce-cart-check:before {
  content: "y";
}

.icon-ecommerce-cart-cloud:before {
  content: "z";
}

.icon-ecommerce-cart-content:before {
  content: "A";
}

.icon-ecommerce-cart-download:before {
  content: "B";
}

.icon-ecommerce-cart-minus:before {
  content: "C";
}

.icon-ecommerce-cart-plus:before {
  content: "D";
}

.icon-ecommerce-cart-refresh:before {
  content: "E";
}

.icon-ecommerce-cart-remove:before {
  content: "F";
}

.icon-ecommerce-cart-search:before {
  content: "G";
}

.icon-ecommerce-cart-upload:before {
  content: "H";
}

.icon-ecommerce-cent:before {
  content: "I";
}

.icon-ecommerce-colon:before {
  content: "J";
}

.icon-ecommerce-creditcard:before {
  content: "K";
}

.icon-ecommerce-diamond:before {
  content: "L";
}

.icon-ecommerce-dollar:before {
  content: "M";
}

.icon-ecommerce-euro:before {
  content: "N";
}

.icon-ecommerce-franc:before {
  content: "O";
}

.icon-ecommerce-gift:before {
  content: "P";
}

.icon-ecommerce-graph1:before {
  content: "Q";
}

.icon-ecommerce-graph2:before {
  content: "R";
}

.icon-ecommerce-graph3:before {
  content: "S";
}

.icon-ecommerce-graph-decrease:before {
  content: "T";
}

.icon-ecommerce-graph-increase:before {
  content: "U";
}

.icon-ecommerce-guarani:before {
  content: "V";
}

.icon-ecommerce-kips:before {
  content: "W";
}

.icon-ecommerce-lira:before {
  content: "X";
}

.icon-ecommerce-megaphone:before {
  content: "Y";
}

.icon-ecommerce-money:before {
  content: "Z";
}

.icon-ecommerce-naira:before {
  content: "0";
}

.icon-ecommerce-pesos:before {
  content: "1";
}

.icon-ecommerce-pound:before {
  content: "2";
}

.icon-ecommerce-receipt:before {
  content: "3";
}

.icon-ecommerce-receipt-bath:before {
  content: "4";
}

.icon-ecommerce-receipt-cent:before {
  content: "5";
}

.icon-ecommerce-receipt-dollar:before {
  content: "6";
}

.icon-ecommerce-receipt-euro:before {
  content: "7";
}

.icon-ecommerce-receipt-franc:before {
  content: "8";
}

.icon-ecommerce-receipt-guarani:before {
  content: "9";
}

.icon-ecommerce-receipt-kips:before {
  content: "!";
}

.icon-ecommerce-receipt-lira:before {
  content: '"';
}

.icon-ecommerce-receipt-naira:before {
  content: "#";
}

.icon-ecommerce-receipt-pesos:before {
  content: "$";
}

.icon-ecommerce-receipt-pound:before {
  content: "%";
}

.icon-ecommerce-receipt-rublo:before {
  content: "&";
}

.icon-ecommerce-receipt-rupee:before {
  content: "'";
}

.icon-ecommerce-receipt-tugrik:before {
  content: "(";
}

.icon-ecommerce-receipt-won:before {
  content: ")";
}

.icon-ecommerce-receipt-yen:before {
  content: "*";
}

.icon-ecommerce-receipt-yen2:before {
  content: "+";
}

.icon-ecommerce-recept-colon:before {
  content: ",";
}

.icon-ecommerce-rublo:before {
  content: "-";
}

.icon-ecommerce-rupee:before {
  content: ".";
}

.icon-ecommerce-safe:before {
  content: "/";
}

.icon-ecommerce-sale:before {
  content: ":";
}

.icon-ecommerce-sales:before {
  content: ";";
}

.icon-ecommerce-ticket:before {
  content: "<";
}

.icon-ecommerce-tugriks:before {
  content: "=";
}

.icon-ecommerce-wallet:before {
  content: ">";
}

.icon-ecommerce-won:before {
  content: "?";
}

.icon-ecommerce-yen:before {
  content: "@";
}

.icon-ecommerce-yen2:before {
  content: "[";
}