//COLORS

$color-primary: #ca8787;
$color-primary-light: #E1ACAC;
$color-primary-dark: #a87676;

$color-secondary: #135d66;
$color-secondary-light: #77b0aa;
$color-secondary-dark: #003c43;

$color-tertiary: #739072;
$color-tertiary-light: #86a789;
$color-tertiary-dark: #4f6f52;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #999;
$color-gray-dark-2: #777;
$color-gray-dark-3: #333;

$color-footer:#545454;

$color-white: #fff;
$color-black: #000;

//FONTS

$default-font-size: 1.6rem;
$medium-font-size: 2.4rem;
$large-font-size: 3.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal: 6rem;