.u-center-text{text-align: center !important;}


.u-margin-top-b{margin-top: 8rem !important;}

.u-margin-top-h{margin-top: 10rem !important;}

.u-margin-bottom-b{margin-bottom: 8rem !important;

    @include respond(tab-port){
        margin-bottom: 5rem !important;
    }}

.u-margin-bottom-m{margin-bottom: 5rem !important;

    @include respond(tab-port){
        margin-bottom: 3rem !important;
    }}

.u-margin-bottom-s{margin-bottom: 1.5rem !important;}